# App
NODE_ENV=development
APP_VERSION=v1

# Backend
BACKEND_PORT=3000
BASE_URL=http://localhost

# MongoDB
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=changeme
MONGO_DB_NAME=urlshortener
MONGO_URI=mongodb://admin:changeme@mongodb:27017/urlshortener?authSource=admin

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_TTL=3600

# Blue-Green ports
BLUE_PORT=3001
GREEN_PORT=3002

# Slack (for alerts)
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/yyy/zzz
