NODE_ENV=development
APP_VERSION=v1
BACKEND_PORT=3000
BASE_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:5173

MONGO_URI=mongodb://admin:changeme@localhost:27017/urlshortener?authSource=admin

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=3600